.sidebar {
  width: 240px;
  min-height: 100vh;
  background: #1e293b;
  color: white;
  padding: 25px 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background: #2563eb;
}