*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.register-container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f7fc;
}

.register-card{
    width:400px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.register-card h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:10px;
}

.register-card h2{
    text-align:center;
    margin-bottom:25px;
}

.register-card input{
    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

.register-card input:focus{
    border-color:#2563eb;
}

.password-box{
    position:relative;
    width:100%;
    margin-bottom:15px;
}

.password-box input{
    width:100%;
    padding-right:45px;
}

.eye-icon{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#666;
    font-size:20px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.eye-icon:hover{
    color:#2563eb;
}

form > input{
    margin-bottom:15px;
}

.register-card button{
    width:100%;
    padding:14px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:17px;
    cursor:pointer;
    margin-top:5px;
}

.register-card button:hover{
    background:#1d4ed8;
}

.register-card p{
    text-align:center;
    margin-top:20px;
}

.register-card a{
    color:#2563eb;
    text-decoration:none;
    font-weight:bold;
}

.register-card a:hover{
    text-decoration:underline;
}

@media(max-width:500px){

    .register-card{
        width:90%;
        padding:25px;
    }

    .register-card h1{
        font-size:30px;
    }

    .register-card h2{
        font-size:24px;
    }

}